/*pills*/
    /*清除浮动*/
    .nav-pills::after {
        content: "";
        display: table;
        clear: both;
    }
    .nav-pills .nav-item {
        float: left;
    }
    .nav-pills .nav-item + .nav-item {
        margin-left: 0.2rem;
    }
    .nav-pills .nav-link {
        display: block;
        padding: 0.5em 1em;
        border-radius: 0.25rem;
    }
    .nav-pills .nav-link.active,
    .nav-pills .nav-link.active:focus,
    .nav-pills .nav-link.active:hover {
        color: #fff;
        cursor: default;
        background-color: #0275d8;
    }

    .nav-stacked {
        /*本身无样式*/
    }
    .nav-stacked .nav-item {
        display: block;
        float: none;
    }
    .nav-stacked .nav-item + .nav-item {
        margin-top: 0.2rem;
        margin-left: 0;
    }
